.ngsm-body-login{

    background-image: url('/assets/others/bg.jpg');
    background-size: cover;

}
.visibility{
    cursor:pointer;
}
/* 
.mat-card{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: contents;
    position: relative;
    padding: 16px;
    border-radius: 4px;
} */