<!-- <div class="carousel-body">
  <div id="demo" class="carousel slide" data-ride="carousel">

    
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>

    </ul>

    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/phones/samsung/pic5.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/phones/iphone/pic6.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/phones/iphone/pic7.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/phones/iphone/pic8.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/phones/iphone/pic9.jpg" alt="New York">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/phones/samsung/pic6.jpg" alt="New York">
      </div>
    </div>

    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>


  </div>
</div> -->







<!-- carousel -->
<div class="carousel-body">
  <div id="myCarousel" class="carousel vertical slide" data-interval="3500" data-ride="carousel">



    <!-- indicators on click moves to corresponding corousel -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>


    <!-- List of images in corousel -->
    <div class="carousel-inner" role="listbox">


      <!-- Image 1 with button -->
      <div class="carousel-item image1 active">

        <div class="description">
            <h3 style="color:white">
                Explore the latest arrivals <br>from different sellers ..
            </h3>
            <button class="view-button btn btn-primary"routerLink="/products">
                Explore <i class="fas fa-angle-double-right"></i>
            </button>
        </div>
        <!-- <div class="carousel-caption">
          <button class="btn btn-primary caption-button" routerLink="">
            <h3><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;Shop Now </h3>
          </button>
        </div> -->
      </div>


      <!-- Image 2 with button -->
      <div class="carousel-item image2">

          <div class="description">
              <h3 style="color:white">
                  Explore the latest arrivals <br>from different sellers ..
              </h3>
              <button class="view-button btn btn-primary" routerLink="products">
                 
                  Explore <i class="fas fa-angle-double-right"></i>
              </button>
          </div>

        <!-- <div class="carousel-caption">
          <button class="btn btn-primary caption-button" routerLink="">
            <h3><i class="fa fa-globe" aria-hidden="true"></i>&nbsp; Best Deals </h3>
          </button>

        </div> -->

      </div>




      <!-- Image 3 with button -->
      <div class="carousel-item image3">

          <div class="description">
              <h3 style="color:white">
                  Explore the latest arrivals <br>from different sellers ..
              </h3>
              <button class="view-button btn btn-primary"routerLink="/products">
                  Explore <i class="fas fa-angle-double-right"></i>
              </button>
          </div>

        <!-- <div class="carousel-caption">
          <button class="btn btn-primary caption-button" routerLink="">
            <h3 class="glyphicon glyphicon-film">Explore </h3>
          </button>
        </div> -->
      </div>



      <!-- Image 4 with button -->
      <div class="carousel-item image4">
        
        <div class="carousel-caption">
          <!-- Explore button-Opens Sell Page -->
          <button class="btn btn-primary caption-button" routerLink="/sell">
            <h3 class="glyphicon glyphicon-film">
              Sell your Mobile
            </h3>
          </button>
        </div>
      </div>


      <!-- Image 5 with button -->
      <div class="carousel-item image5">
        
        <div class="carousel-caption">
          <!-- Explore button-Opens Product Page -->
          <button class="btn btn-primary caption-button" routerLink="/products">
            <h3 class="glyphicon glyphicon-film"> Trending </h3>
          </button>
        </div>
      </div>


      <!-- Image 6 with button -->
      <div class="carousel-item image6">
        
        <div class="carousel-caption">
          <!-- Explore button-Opens Product Page -->
          <button class="btn btn-primary caption-button" routerLink="/products">
            <h3 class="glyphicon glyphicon-film">Iphone </h3>
          </button>
        </div>
      </div>


    </div>
  </div>
</div>