<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>About</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/home"><i class="fas fa-info-circle"></i> About Us</a></li>
                    <li><a routerLink="/contact-us"><i class="fas fa-phone"></i> Contact Us</a></li>
                    <li><a routerLink="/careers"><i class="fas fa-graduation-cap"></i> Careers</a></li>
                    <li><a routerLink="/terms-and-conditions"><i class="fas fa-cogs"></i> T&C</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Customer Service</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/payments"><i class="fas fa-credit-card"></i> Payments</a></li>
                    <li><a routerLink="/offers"><i class="fas fa-gift"></i> Offers</a></li>
                    <li><a routerLink="/refer-and-earn"><i class="fas fa-user-plus"></i> Refer & Earn</a></li>
                    <li><a routerLink="/help"><i class="far fa-question-circle"></i> Help</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In/Register</a></li>
                    <li><a routerLink="/orders"><i class="fab fa-first-order"></i> Order</a></li>
                    <li><a routerLink="/products"><i class="fas fa-mobile-alt"></i> Product</a></li>
                    <li><a routerLink="/cart"><i class="fas fa-shopping-cart"></i> Cart</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li> &nbsp;
                    <li class="list-inline-item"><a href="https://twitter.com"><i class="fab fa-twitter-square"></i></a></li> &nbsp;
                    <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></li> &nbsp;
                    <li class="list-inline-item"><a href="https://plus.google.com"><i class="fab fa-google-plus-g"></i></a></li> &nbsp;
                    <li class="list-inline-item"><a href="https://mail.google.com" target="_blank"><i class="fa fa-envelope"></i></a></li> &nbsp;
                </ul>
            </div>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>Sell Mobiles - All rights reserved &copy; 2018 by <a routerLink="#">XYZ Electronics Private Limited.</a></p>
            </div>
        </div>	
    </div>
</section>
<!-- ./Footer -->