
<div class="card col-md-6 mt-5 mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
     <h5 style="margin-left:100px;margin-top:20px;font-style: italic;">WHAT OUR CUSTOMERS ARE SAYING</h5>
    
      <div class="w-100 carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-sm-3">
                <img src="../../../../assets/others/images.png" alt="" class="rounded-circle img-fluid">
                  
              </div>
              <div class="col-sm-9">
                <h4 style="margin-top:30px;">{{feedbacks[0].user.userName}}</h4>
                <small style="font-style: italic;">{{feedbacks[0].description}}</small>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-sm-3">
                <img src="../../../../assets/others/images.png" alt="" class="rounded-circle img-fluid">
              </div>
              <div class="col-sm-9">
                <h4 style="margin-top:30px; ">{{feedbacks[1].user.userName}}</h4>
                <small style="font-style: italic;">{{feedbacks[1].description}}</small>
                <!-- <small class="smallest mute">- Yayo Dudemous</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="carousel-caption">
            <div class="row">
              <div class="col-sm-3">
                <img src="../../../../assets/others/images.png" alt="" class="rounded-circle img-fluid">
              </div>
              <div class="col-sm-9">
                <h4 style="margin-top:30px;">{{feedbacks[2].user.userName}}</h4>
                <small style="font-style: italic;">{{feedbacks[2].description}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      




      <div class="float-right navi">
      <a class="" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon ico" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
  </div>

  